extends layout

block content
    if (success)
        div.alert.alert-success
            //test
    if (error)
        div.alert.alert-danger
            strong 错误：
            | #{error}
       div.jumbotron
        h1= title
        p.lead 欢迎来到 WorkOne
        p.lead 加入WorkOne来高效管理您的团队
        p.lead
            a.btn.btn-primary.btn-lg(href='register') 立即加入WorkOne
