extends layout

block content
       div.jumbotron
        h1= title
        p.lead 欢迎来到 WorkOne
        p.lead 加入WorkOne来高效管理您的团队
        p.lead
            a.btn.btn-primary.btn-lg(href='register') 立即加入WorkOne
