//
   Created by Dibel on 2014/5/8.

extends layout
block content
        div.row.clearfix
            div.col-md-4.column
            div.col-md-4.column
                if (success)
                    div.alert.alert-success
                        //test
                if (error)
                    div.alert.alert-danger
                        strong 错误：
                        | #{error}
                h1= title
                form.form-horizontal(method="post")
                    fieldset
                        div.form-group
                            label.control-label(for="username") 用户名
                            div.controls
                                input.form-control(type="text", id="username", name="username", placeholder="请输入用户名")
                        div.form-group
                            label.control-label(for="name") 昵称
                            div.controls
                                input.form-control(type="text", id="name", name="name", placeholder="请输入昵称")
                        div.form-group
                            label.control-label(for="password") 密码
                            div.controls
                                input.form-control(type="password", id="password", name="password", placeholder="请输入密码")
                        div.form-group
                            label.control-label(for="passwordrepeat") 重复输入密码
                            div.controls
                                input.form-control(type="password", id="passwordrepeat", name="passwordrepeat", placeholder="请重复输入密码")
                        div.from-actions
                            input.btn.btn-primary(type="submit",value="注册")
            div.col-md-4.column