//
   Created by Dibel on 2014/6/1.
extends layout

block content
    div.container
      .row.clearfix
        .col-md-12.column
            .page-header
                h1=task.name
                    small 所属项目/所属团队/截止日期/剩余时间……
            p.text-info.text-left
                | 任务描述
            div
                | 这是一个任务描述
            .row.clearfix
                .col-md-4.column
                    h3
                        | 任务成员
                    ul
                      -each user in users
                        li=user.name
                .col-md-8.column
                    h3.text-primary.text-left
                        | 讨论
                    -each discuss in discusses
                      .panel.panel-info
                        .panel-heading
                            h3.panel-title
                                =discuss.username
                        .panel-body
                            =discuss.content
                        .panel-footer
                            =discuss.time

