//
   Created by Dibel on 2014/5/22.

extends layout
block content
  div.page-header
    h1= title
      small 协作
  h2 我的小组
  div.row.clearfix
    div.col-md-2.column
    div.col-md-6.column
        if (success)
            div.alert.alert-success
                //test
        if (error)
            div.alert.alert-danger
                strong 错误
                p #{error}